@page "/privacy"
<MudPaper Elevation="2" Class="main-home-content card-animate gradient-bg fade-in">
    <MudText Typo="Typo.h3" Class="mb-2 text-gradient text-responsive-h3 animate-pop">Privacyverklaring</MudText>
    
    <MudText Typo="Typo.body1" Class="mb-4 text-responsive-body fade-in">
        Wij nemen privacy zeer serieus. Alle gegevens die via onze applicatie worden verzameld, worden strikt vertrouwelijk behandeld en uitsluitend gebruikt voor het verbeteren van afvaldetectie en -opruiming. 
        
        Wij slaan <b>geen foto's</b> op. Dit betekent dat wij géén beelden verzamelen van mensen, dieren, kentekens of woningen. Enkel tekstuele gegevens die relevant zijn voor onze dienst worden verwerkt.
        
        <br /><br />
        De gegevens worden veilig opgeslagen in een versleutelde database en zijn alleen toegankelijk voor geautoriseerde medewerkers. We gebruiken deze informatie uitsluitend voor:
        <ul>
            <li>Het detecteren en voorspellen van afvalopbouw</li>
            <li>Het verbeteren van onze AI-modellen</li>
            <li>Het optimaliseren van opruimroutes</li>
        </ul>
        
        <br />
        We bewaren gegevens niet langer dan noodzakelijk. Wanneer de informatie niet meer nodig is voor bovenstaande doelen, wordt deze permanent verwijderd.
        
        <br /><br />
        Gebruikers hebben het recht om:
        <ul>
            <li>Inzage te vragen in hun opgeslagen gegevens</li>
            <li>Gegevens te laten corrigeren of verwijderen</li>
            <li>Bezwaar te maken tegen het gebruik van hun gegevens</li>
        </ul>

        <br />
        Voor vragen of verzoeken kun je terecht op onze <MudLink Href="/faq">FAQ</MudLink> pagina of contact met ons opnemen via het contactformulier.
    </MudText>
    
    <MudDivider Class="mb-4 slide-in" />
    
    <MudText Typo="Typo.body2" Class="text-responsive-body">
        Laatste update: juni 2025. Bij wijzigingen in ons privacybeleid zal deze pagina worden bijgewerkt.
    </MudText>
</MudPaper>
